*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    width:80%;
    margin: auto;
    height: 100vh;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
}
#container h1{
    color:#fff;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}

img{
    width:250px;
}
.image1 , .image2, .image3, .image4{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    width: 100%;
    height: auto;
}
.btns, .slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    width:50%;
    margin-left: 25%;
    cursor: pointer;
}
.pre-btn, .play-btn, .next-btn{
    color: #cc9124;
    font-size: 10px;
    margin: 1rem;
}
.fa-circle-play, .fa-backward, .fa-forward{
    font-size: 2rem;
}
.slideRange{
    width: 70%;
    height:3px;
    font-size: 3rem;
    height: 5px;
    background: black;
    opacity: 0.7;
    transition: opacity 0.5s;
    margin: 0 15px;
    appearance: none;
}
#image{
        margin: 1rem 0 0 29rem;
        height: 21rem;
        width: 17rem;
        background-size: cover;
        border-radius: 15%;
}
.current-time, .totalDuration{
    color:#fff;
    font-size: 1rem;
}
#trackName, #trackArtist{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px 0;
}
button{
    background-color: transparent;
    color:none;
    border:none;
}
