*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    width:50%;
    margin: auto;
    height: 100vh;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    border: 4px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 15px;

}
#container h1{
    color:#fff;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}

img{
    width:250px;
}
.btns, .slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    width:50%;
    margin-left: 25%;
    cursor: pointer;
}
.pre-btn, .play-btn, .next-btn{
    color: #dbb5a4;
    font-size: 10px;
}
.fa-circle-play, .fa-backward, .fa-forward{
    font-size: 2rem;
}
#slideRange{
    width: 70%;
    font-size: 3rem;
    background: rgb(17, 16, 16);
    margin: 0 5px;
}
#image{
        margin: 1rem 0 0 15rem;
        height: 21rem;
        width: 17rem;
        background-size: cover;
        border-radius: 15%;
}
#current-time, #totalDuration{
    color:#fff;
    font-size: 1rem;
}
#trackName, #trackArtist{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px 0;
}
button{
    background-color: transparent;
    color:none;
    border:none;
}
.loopBtn{
    color: #cc9124;
    font-size: 1rem;
}
#loop{
    font-size: 1.5rem;
    color: #dbb5a4;
}
input[type="range"] {
    border: none;
    outline: none;
    height:3px;
    accent-color: #dbb5a4;
  }
